<template name="welcome">       
    <a href="https://github.com/rzymek/web-boards"><img style="position: absolute; top: 50px; right: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>    
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="/">Web Boards</a>
            <ul id="signinup" class="nav navbar-nav navbar-right">
                {{ loginButtons }} 
            </ul>
        </div>
    </div>

    <div class="jumbotron">
        <div class="container">
            <p>Web Boards is a web application for playing online adaptation of board games. 
                You can play online with instant updates or do your moves without the opponent being connected.</p>
            {{#if loggedIn}}
            <p><button type="button" class="btn btn-default take-a-tour">Take a tour</button></p>
            {{else}}
            Please log in/sign up using the link in the upper right corner.
            {{/if}}
        </div>
    </div>

    <div class="container">
        {{#if loggedIn}}
        <div class="row">
            <div class="col-md-10">
                <h3>Your games:</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Game</th>
                            <th>Started</th>
                            <th>Ops</th>
                            <th>Players</th>
                            <th>ID</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each tables}}
                        <tr>
                            <th>
                                <a href="{{pathFor 'play'}}" class="btn btn-default">
                                    <span class="glyphicon glyphicon-play"></span>
                                </a>
                            </th>
                            <td>{{game}}</td>
                            <td>{{fmtDate started}}</td>
                            <td>{{ops}}</td>
                            <td>{{listPlayers .}}</td>
                            <td>{{_id}}</td>
                            <th>
                                <button class="leave-game btn btn-default" value="{{_id}}">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </th>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">
                <h3>Start new game:</h3>
                <div class="btn-group-vertical" id="startgame">
                    {{#each games}}
                    <button type="button" class="start-game btn btn-default" value="{{.}}">{{.}}</button>
                    {{/each}}
                </div>
            </div>
        </div>
        {{else}}       
        <h3>Available games:</h3>
        <ul>
            {{#each games}}
            <li><h4>{{.}}</h4></li>
            {{/each}}
        </ul>
        {{/if}}

        <div id="config" style="background-color: gray; position: absolute; bottom:0; left:0; min-width:20px;min-height:20px">
            {{config}}
        </div>
    </div>
</template>