<template name="welcome">       
    <a href="https://github.com/you"><img style="position: absolute; top: 50px; right: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>    
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Web Boards</a>
            </div>
            <div class="navbar-collapse collapse">
                <div class="navbar-right navbar-form">
                    {{loginButtons align="right"}}
                </div>
            </div><!--/.navbar-collapse -->
        </div>
    </div>

    <div class="jumbotron">
        <div class="container">
            <p>Web Boards is a web application for playing online adaptation of board games. 
                You can play online with instant updates or do your moves without the opponent being connected.</p>
            {{#unless loggedIn}}
            <p><a href="#" onclick="document.getElementById('login-sign-in-link').click()">Login to start or join a game</a>.</p>
            {{/unless}}
        </div>
    </div>

    <div class="container">
        {{#if loggedIn}}
        <div class="row">
            <div class="col-md-10">
                <h3>Your games:</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Game</th>
                            <th>Playing</th>
                            <th>Turn</th>
                            <th>Ops</th>
                            <th>ID</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each tables}}
                        <tr>
                            <th>
                                <a href="{{pathFor 'play'}}" class="btn btn-default">
                                    <span class="glyphicon glyphicon-play"></span>
                                </a>
                            </th>
                            <td>{{game}}</td>
                            <td>{{turn}}</td>
                            <td>{{current}}</td>
                            <td>{{ops}}</td>
                            <td>{{_id}}</td>
                            <th>
                                <a href="#" class="btn btn-default">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </th>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">
                <h3>Start new game:</h3>
                <a href="/start/bastogne"><img src="http://cf.geekdo-images.com/images/pic325121_t.jpg" alt="Bastogne"></a>
            </div>
        </div>
        {{else}}       
        <h3>Available games:</h3>
        <img src="http://cf.geekdo-images.com/images/pic325121_t.jpg" alt="Bastogne"><br>
        {{/if}}

        <div id="config" style="background-color: gray; position: absolute; bottom:0; left:0; min-width:20px;min-height:20px">
            {{config}}
        </div>
    </div>
</template>