<template name="debug">
    <div class="container">
        <h4>User</h4>
        <pre>{{user}}</pre>
        <h4>Session</h4>
        <table border="1" width="100%">
            {{#each session}}
            <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
            </tr>
            {{/each}}
        </table>
        <h4>Tables</h4>
        <table border="1" width="100%" class="table-hover">
            {{#each tables}}
            <tr>
                <td class="selectTable" value="{{_id}}">{{json .}}</td>
            </tr>
            {{/each}}
        </table>
        <h4>Ops</h4>
        <table border="1" width="100%">
            {{#each ops}}
            <tr>
                <td>{{json .}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
</template>