<template name="debug">
    <div class="modal" id="dbgModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="btn btn-danger reset">RESET</button>
                    <h4>User</h4>
                    <pre>{{user}}</pre>
                    <h4>Session</h4>
                    <table border="1" width="100%">
                        {{#each session}}
                        <tr>
                            <td class="dbg-key">{{key}}</td>
                            <td><pre>{{value}}</pre></td>
                        </tr>
                        {{/each}}
                    </table>
                    <h4>Tables</h4>
                        {{#each tables}}
                        <pre>{{json .}}</pre>
                        {{/each}}
                    <h4>Ops</h4>
                    {{#each ops}}
                    <pre>{{json .}}</pre>
                    {{/each}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dbg()">Close</button>
                </div>
            </div></div></div>
</template>